<h1>Liste des Réclamations</h1>

<div class="card-container">
  <div class="card" *ngFor="let feedback of feedbacks">
    <div class="card-header">
      <p><strong>Nom :</strong> {{ feedback.name }}</p>
      <p><strong>Email :</strong> {{ feedback.email }}</p>
    </div>
    <div class="card-body">
      <p><strong>Message :</strong> {{ feedback.message }}</p>
    </div>
    <div class="card-footer">
      <!-- Affichez le bouton "Marquer comme traitée" en fonction du statut -->
      <button (click)="marquerCommeTraite(feedback.id)" class="mark-button">
        {{ estTraite(feedback.id) ? 'Marquer comme non traitée' : 'Marquer comme traitée' }}
      </button>
    </div>
  </div>
</div>
