<div class="container-fluid">
  <app-page-title title="Partnerships List" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="d-grid gap-2">
    <button type="button" class="btn btn-primary btn-lg" (click)="navigateToCreatePartnership()">
      New Partnership
    </button>
  </div>  
  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table project-list-table table-nowrap align-middle table-borderless">
          <thead>
            <tr>
              <th scope="col" style="width: 100px">#</th>
              <th scope="col">Partnership Name</th>
              <th scope="col">Description</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Budget</th>
              <th scope="col">Status</th>
              <th scope="col">Event</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of partnershiptData">
              <td>
                <p class="text-muted mb-0">{{ p.idParteneriat }}</p>
              </td>
              <td>
                <p class="text-muted mb-0">{{ p.nomParteneriat }}</p>
              </td>
              <td>
                <p class="text-muted mb-0">{{ p.description }}</p>
              </td>
              <td>
                <p class="text-muted mb-0">{{ p.email }}</p>
              </td>
              <td>
                <p class="text-muted mb-0">{{ p.numeroTelephone }}</p>
              </td>
              <td>
                <p class="text-muted mb-0">{{ p.budget }}</p>
              </td>
              <td>
                <p class="text-muted mb-0">{{ p.verified }}</p>
              </td>
              <td>
                <p class="text-muted mb-0">{{ p.eventId }}</p>
              </td>
              <td>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                  <button type="button" class="btn btn-success">
                    <i class="dripicons-checkmark" (click)="verifyPartnership(p.idParteneriat)" ></i>
                  </button>
                  <label>ㅤ</label>
                  <button type="button" class="btn btn-primary" (click)="navigateToOverviewPartnership(p.idParteneriat)">
                    <i class="dripicons-blog"></i>
                  </button>
                  <label>ㅤ</label>
                  <button type="button" class="btn btn-danger" (click)="p.idParteneriat&& deletePartnerships(p.idParteneriat)">
                  <i class="bx bxs-trash-alt"></i>
                  </button>
                  <label>ㅤ</label>
                  <button type="button" class="btn btn-warning" (click)="p.idParteneriat&& navigateToEdit(p.idParteneriat)">
                  <i class="bx bxs-pencil"></i>
                  </button>
                  <label>ㅤ</label>
                  <button type="button" class="btn btn-light" (click)="cancelPartnership(p.idParteneriat)">
                  <i class="bx bx-block"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    </div>
    <!-- end col-->
  </div>
