<div class="container-fluid">
    <app-page-title title="Blog List" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row justify-content-center"> <!-- Center the row -->
        <div class="col-xl-9 col-lg-8">
            <div class="card">
                <!-- Form to Add Blog -->
                <form (ngSubmit)="submitBlog(blog)">
                    <div class="card-body">
                        <h5 class="mb-0">Add a New Blog</h5>
                        <hr class="mb-4">

                        <!-- Blog Title Input -->
                        <div class="mb-3">
                            <label for="blogTitle" class="form-label">Title</label>
                            <input  [(ngModel)]="blog.title" type="text" class="form-control" id="blogTitle" name="title" required>
                        </div>

                        <!-- Blog Content Textarea -->
                        <div class="mb-3">
                            <label for="blogContent" class="form-label">Content</label>
                            <textarea [(ngModel)]="blog.content" class="form-control" id="blogContent" name="content" rows="4" required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="createdDate" class="form-label">createdDate</label>
                            <input [(ngModel)]="blog.createdDate" type="date" class="form-control" id="createdDate" name="createdDate" required>
                        </div>

                        <!-- Image URL Input -->
                        <div class="mb-3">
                            <label for="imageURL" class="form-label">Image URL</label>
                            <input [(ngModel)]="blog.imageUrl" type="url" class="form-control" id="imageURL" name="imageURL" required>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary">Add Blog</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>