<div class="container-fluid">
    <app-page-title title="Blog Details" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="pt-3">
                        <div class="row justify-content-center">
                            <div class="col-xl-8">
                                <div>
                                    <div class="text-center">
                                        <div class="mb-4">
                                            <a href="javascript: void(0);" class="badge bg-light font-size-12">
                                                <i class="bx bx-purchase-tag-alt align-middle text-muted me-1"></i>
                                                Project
                                            </a>
                                        </div>
                                        <h4>{{BlocPost.title}}</h4>
                                        <p class="text-muted mb-4"><i class="mdi mdi-calendar me-1"></i>
                                            {{getDateOnly(BlocPost.createdDate)}}
                                        </p>
                                    </div>

                                    <hr>
                                    <div class="text-center">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div>
                                                    <p class="text-muted mb-2">Categories</p>
                                                    <h5 class="font-size-15">Project</h5>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="mt-4 mt-sm-0">
                                                    <p class="text-muted mb-2">Date</p>
                                                    <h5 class="font-size-15"> {{getDateOnly(BlocPost.createdDate)}}</h5>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="mt-4 mt-sm-0">
                                                    <p class="text-muted mb-2">Post by</p>
                                                    <h5 class="font-size-15">Gilbert Smith</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="my-5">
                                        <img [src]="BlocPost.imageUrl" alt=""
                                            class="img-thumbnail mx-auto d-block">
                                    </div>

                                    <!-- ... Existing code above ... -->

                                        <div class="mt-4">
                                            <!-- Static Like and Dislike buttons -->
                                            <button (click)="like()" [@buttonState]="buttonState"class="btn btn-primary me-2">
                                                {{ buttonState === 'active' ? 'Dislike' : 'Like' }}
                                            </button>
                                            
                                            
                                        <br>
                                        <br>
                            
                                            <h5 class="font-size-16 mb-3">Leave a Comment</h5>

                                            <form>
                                                <!-- ... Rest of the form code ... -->
                                            </form>
                                        </div>

<!-- ... Rest of the code below ... -->
                                     
                                    <div class="mt-4">
                                        <div class="text-muted font-size-14">
                                            <p>{{BlocPost.content}}</p>






                               
                                        </div>

                                        <hr>

                                        <div class="mt-5">
                                            <h5 class="font-size-15"><i
                                                    class="bx bx-message-dots text-muted align-middle me-1"></i>
                                                Comments :</h5>

                                            <div>
                                                <div class="media py-3 border-top" *ngFor="let com of BlocPost.comments">
                                                    <div class="avatar-xs me-3">
                                                        <img src="assets/images/users/avatar-2.jpg" alt=""
                                                            class="img-fluid d-block rounded-circle">
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="font-size-14 mb-1">User {{BlocPost.id}} <small
                                                                class="text-muted float-end">{{getDateOnly(com.createdDate)}}</small></h5>
                                                        <p class="text-muted">{{com.text}}</p>

                                                
                                                    </div>
                                                </div>
     

                                          

                                            </div>
                                        </div>

                                        <div class="mt-4">
                                            <h5 class="font-size-16 mb-3">Leave a Comment</h5>

                                            <form>
                                               

                                               <div class="mb-3">
                                                    <label for="commentmessage-input">Your Coment</label>
                                                    <textarea class="form-control" id="commentmessage-input"
                                                        placeholder="Your message..." 
                                                        [(ngModel)]="commentMessage"
                                                        [ngModelOptions]="{standalone: true}"
                                                        rows="3"></textarea>
                                                </div>

                                                <div class="text-end">
                                                    <button type="button" (click)="addComment()" class="btn btn-success w-sm">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>