    <div class="container-fluid">
      <app-page-title title="Partnerships Grid" [breadcrumbItems]="breadCrumbItems"></app-page-title>
      <div class="row">
        <div *ngFor="let partnership of partnershiptData" class="col-xl-4 col-sm-6">
          <div class="d-flex align-items-center">
            <div class="card w-100">
              <div class="card-body">
                <div class="media-body overflow-hidden">
                  <h5 class="text-truncate font-size-15">Partnership Name</h5>
                  <p class="text-muted">{{ partnership.nomParteneriat }}</p>
      
                  <h5 class="font-size-15 mt-4">Partnership Description :</h5>
                  <p class="text-muted">{{ partnership.description }}</p>
      
                  <h5 class="font-size-15 mt-4">Email :</h5>
                  <p class="text-muted">{{ partnership.email }}</p>
      
                  <h5 class="font-size-15 mt-4">Phone Number :</h5>
                  <p class="text-muted">{{ partnership.numeroTelephone }}</p>
      
                  <h5 class="font-size-15 mt-4">Budget :</h5>
                  <p class="text-muted">{{ partnership.budget }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="pagination pagination-rounded justify-content-center mt-2 mb-5">
          <li class="page-item disabled">
            <a href="javascript: void(0);" class="page-link">
              <i class="mdi mdi-chevron-left"></i>
            </a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">1</a>
          </li>
          <li class="page-item active">
            <a href="javascript: void(0);" class="page-link">2</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">3</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">4</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">5</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">
              <i class="mdi mdi-chevron-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>